.wrapper {
  position: relative;
  height: 100px;
}

.wrapper:hover .ball {

    top: 80%;
    left: 80%;
    background-color: red;
    border-radius: 0;

}


    .ball {
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 100px;
      background-color: green;
      border-radius: 50%;
      

      transition: left 1s,
                  top 1s,
                  background-color 2s 1s,
                  border-radius 2s;
/*
      transition-property: left, 
                            top 1s,
                            background-color,
                            border-radius;
      transition-duration: 1s, 2s;
      transition-delay: 0, 2s;
*/
      

    }

